h1{
    text-decoration: underline;
    font-style: italic;
    font-size: 70px;
    margin-bottom: 5px;
    margin-top:15px;
}

ul{
    list-style-type: none;
    margin-left:0;
    padding-left: 0;
    font-size:1.25rem;
}

.clicked{
    text-decoration-line: line-through;
}