body{
    background-color: rgb(157, 119, 167);
}

#submit{
    font-family: Montserrat;
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 30%;
}

input[type="checkbox"]{
    accent-color:rgb(197, 153, 238)
}

.remove{
    border-radius: 50%;
    background-color: blueviolet;
    color:aliceblue;
}

h1{
    font-size: 70px;
    font-family: Montserrat;
    margin-bottom: 5px;
    margin-top:15px;
}

ul{
    list-style-type: none;
    margin-left:0;
    padding-left: 0;
    font-size:1.25rem;
    font-family: Montserrat;
}

.clicked{
    text-decoration-line: line-through;
}

